body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('country_highrise_background.jpg'); 
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-auto-rows: 300px;
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center; 
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}